@model AutomatskiPDFMVC.Models.PodaciPDF
@using Vereyon.Web;

@{
    ViewBag.Title = "Kreiraj PDF dokument";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Generiranje dokumenta</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="~/Content/screen.css">
    <link rel="stylesheet" media="screen" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/cookiealert.css">
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">

    <script src="https://kit.fontawesome.com/3cce785412.js" SameSite="none Secure" crossorigin="anonymous"></script>

    <style>
        .validate-kontrolapovezanosti-fizickaosoba-ime {
        }

        .validate-kontrolapovezanosti-fizickaosoba-prezime {
        }

        .validate-kontrolapovezanosti-fizickaosoba-OIB {
        }

        .validate-kontrolapovezanosti-fizickaosoba-mjesto {
        }

        .validate-kontrolapovezanosti-fizickaosoba-ulicaikucnibroj {
        }




        .validate-kontrolapovezanosti-pravnaosoba-naziv {
        }

        .validate-kontrolapovezanosti-pravnaosoba-OIB {
        }

        .validate-kontrolapovezanosti-pravnaosoba-mjesto {
        }

        .validate-kontrolapovezanosti-pravnaosoba-ulicaikucnibroj {
        }

        .validate-kontrolapovezanosti-pravnaosoba-dokazouplacenojnaknadi {
        }

    </style>

</head>
<body>
    <form id="form1" class="form-horizontal" role="form" method="post">
        <img src="~/Content/images/hanfa-logo.png" style="padding:5px;" alt="Company logo" />

        @Html.HiddenFor(model => model.DownloadToken, new { @id = "download_token_value" })
        @Html.RenderFlashMessages()
        @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
        <div class="col-sm-6">
            <div class="container-fluid">
                <p class="lead">Podaci o osnivaču</p>

                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Ime</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.Ime, new { placeholder = "Ime osnivača", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Prezime</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.Prezime, new { placeholder = "Prezime osnivača", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">OIB</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.OIB, new { placeholder = "OIB osnivača", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.Email, new { placeholder = "Email osnivača", @class = "form-control", type = "email" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Kontakt broj</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.KontaktBroj, new { placeholder = "Kontakt broj osnivača", @class = "form-control" })
                    </div>
                </div>
                <p class="lead">Adresa prebivališta osnivača</p>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Mjesto</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.Mjesto, new { placeholder = "Mjesto osnivača", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Ulica i broj</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.OsnivacObrt.UlicaIKucniBroj, new { placeholder = "Ulica i kućni broj osnivača", @class = "form-control" })
                    </div>
                </div>
                <p class="lead">Podaci o obrtu</p>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Naziv obrta</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.Naziv, new { placeholder = "Naziv obrta", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Oznaka obrta</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.Oznaka, new { @Value = "obrt za zastupanje u osiguranju", @readonly = "readonly", placeholder = "Oznaka obrta", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Ime obrtnika</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.ImeObrtnika, new { placeholder = "Ime obrtnika", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Prezime obrtnika</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.PrezimeObrtnika, new { placeholder = "Prezime obrtnika", @class = "form-control" })
                    </div>
                </div>
                <p class="lead">Adresa sjedišta obrta</p>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Mjesto</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.Mjesto, new { placeholder = "Mjesto obrta", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-sm-2 control-label">Ulica i kućni broj</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Obrt.UlicaIKucniBroj, new { placeholder = "Ulica i kućni broj obrta", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.OvlasteniZastupnik.KontrolaOvlastenja, new { @class = "form-check-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.OvlasteniZastupnik.KontrolaOvlastenja)
                    </div>
                </div>
                *Ako vlasnik obrta nema ovlaštenje za obavljanje poslova zastupanja u osiguranju, potrebno je, u skladu sa Zakonom o obrtu i Zakonom o osiguranju imenovati poslovođu svog obrta koji ima ovlaštenje za zastupanje u osiguranju.
                <br />
                <div id="podaciOvlasteniZastupnik">
                    <p class="lead">Podaci o ovlaštenom zastupniku(poslovođi)</p>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Ime</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.Ime, new { placeholder = "Ime ovlaštenog zastupnika", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Prezime</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.Prezime, new { placeholder = "Prezime ovlaštenog zastupnika", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">OIB</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.Oib, new { placeholder = "OIB ovlaštenog zastupnika", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Broj u registru Hanfe</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.BrojURegistruHanfe, new { placeholder = "Broj u registru Hanfe ovlaštenog zastupnika", @class = "form-control" })
                        </div>
                    </div>
                    <p class="lead">Adresa prebivališta zastupnika</p>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Mjesto</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.Mjesto, new { placeholder = "Mjesto zastupnika", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Ulica i kućni broj</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.OvlasteniZastupnik.UlicaIKucniBroj, new { placeholder = "Ulica i kućni broj zastupnika", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    @Html.LabelFor(model => model.KontrolaPovezanosti.KontrolaPovlastenosti, new { @class = "form-check-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.KontrolaPovezanosti.KontrolaPovlastenosti)
                    </div>
                </div>
                <div>
                    *Kontrolu povezanosti popuniti samo u slučaju kada postoji povezanost iz članka 3. točke 26. Zakona o osiguranju: dvije ili više fizičkih ili pravnih osoba osobe koje su povezane kontrolom ili sudjelovanjem ili položaj u kojem su dvije ili više fizičkih ili pravnih osoba trajno povezane s jednom te istom osobom odnosom kontrole (izjavu daje osnivač/i navedenog obrta)
                </div>
                <div id="podaciKontrolaPovezanosti">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="width:15%">Ime</th>
                                <th style="width:15%">Prezime</th>
                                <th style="width:15%">OIB</th>
                                <th style="width:15%">Mjesto</th>
                                <th style="width:15%">Ulica i kućni broj</th>
                                <th style="width:25%"><button type="button" class="btn btn-default" data-bind="click: $root.AddFizickaOsoba">Dodaj fizičku osobu</button></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: FizickeOsobe">
                            <tr>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-fizickaosoba-ime" data-bind="value: Ime, attr: {name: 'KontrolaPovezanosti.FizickeOsobe[' + $index() + '].Ime'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-fizickaosoba-prezime" data-bind="value: Prezime, attr: {name: 'KontrolaPovezanosti.FizickeOsobe[' + $index() + '].Prezime'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-fizickaosoba-OIB" data-bind="value: OIB, attr: {name: 'KontrolaPovezanosti.FizickeOsobe[' + $index() + '].OIB'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-fizickaosoba-mjesto" data-bind="value: Mjesto, attr: {name: 'KontrolaPovezanosti.FizickeOsobe[' + $index() + '].Mjesto'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-fizickaosoba-ulicaikucnibroj" data-bind="value: UlicaIKucniBroj, attr: {name: 'KontrolaPovezanosti.FizickeOsobe[' + $index() + '].UlicaIKucniBroj'}" />
                                </td>
                                <td>
                                    <input type="button" class="btn btn-xs btn-danger" data-bind="click: $root.RemoveFizickaOsoba" value="X" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped  table-bordered table-dark  table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width:16%">Naziv</th>
                                <th style="width:16%">OIB</th>
                                <th style="width:16%">Mjesto</th>
                                <th style="width:16%">Ulica i kućni broj</th>
                                <th style="width:16%">DokazOUplacenojNaknadi</th>
                                <th style="width:10%"><button type="button" class="btn btn-default" data-bind="click: $root.AddPravnaOsoba">Dodaj pravnu osobu</button></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PravneOsobe">
                            <tr table-success>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-pravnaosoba-naziv" data-bind="value: Naziv, attr: {name: 'KontrolaPovezanosti.PravneOsobe[' + $index() + '].Naziv'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-pravnaosoba-OIB" data-bind="value: OIB, attr: {name: 'KontrolaPovezanosti.PravneOsobe[' + $index() + '].OIB'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-pravnaosoba-mjesto" data-bind="value: Mjesto, attr: {name: 'KontrolaPovezanosti.PravneOsobe[' + $index() + '].Mjesto'}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control validate-kontrolapovezanosti-pravnaosoba-ulicaikucnibroj" data-bind="value: UlicaIKucniBroj, attr: {name: 'KontrolaPovezanosti.PravneOsobe[' + $index() + '].UlicaIKucniBroj'}" />
                                </td>
                                <td>
                                    <input type="checkbox" class="form-control validate-kontrolapovezanosti-pravnaosoba-dokazouplacenojnaknadi" data-bind="checked: DokazOUplacenojNaknadi, attr: {name: 'KontrolaPovezanosti.PravneOsobe[' + $index() + '].DokazOUplacenojNaknadi'}" />
                                </td>
                                <td>
                                    <input type="button" class="btn btn-xs btn-danger" data-bind="click: $root.RemovePravnaOsoba" value="X" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*<div data-bind="dump: FizickeOsobe"></div>*@
                </div>
                <br />
                <div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Mjesto izrade</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.DokumentPodaci.MjestoIzrade, new { placeholder = "Mjesto izrade", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 control-label">Datum izrade</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.DokumentPodaci.DatumIzrade, new { placeholder = "Datum izrade", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    @Html.LabelFor(model => model.EmailPodaci.PosaljiNaEmail, new { @class = "form-check-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.EmailPodaci.PosaljiNaEmail)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="PodaciPDF.EmailPodaci.EmailAdresaZaDostavu">Podaci o mail adresi za dostavu</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.EmailPodaci.EmailAdresaZaDostavu, new { placeholder = "Email adresa za dostavu", @class = "form-control", type = "email" })
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-6">
                    <button type="submit" class="btn btn-primary">Kreiraj PDF</button>
                </div>
            </div>
        </div>
    </form>

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        Ova aplikacija koristi kolačiće za pružanje boljeg korisničkog iskustva. Cookie postavke mogu se kontrolirati i konfigurirati u vašem web pregledniku. Za nastavak pregleda i korištenja ove aplikacije kliknite na "Slažem se".

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            Slažem se
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/AutomatskiPDF_Form.js"></script>
    <script src="~/Scripts/cookiealert.js"></script>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
</body>
</html> 